
.logo {
    width: 150px;
    height: 40px;
    background-image: url(../images/logo-ANSWER.svg);
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.menu-link:hover {
    border-left-color: $success !important;
}
